* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

/* header */
header {
    background-color: #ffb885;
    padding: 40px 0;
}

/* navbar */
nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo h2 {
    font-size: 45px;
    font-weight: bold;
}
.color-red{
    color:red;
}

/* menu */
.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

}

.menu a {
    /* text-decoration none->skip underline  */
    text-decoration: none; 
    color: #000;
    font-size: 18px;
}

/* Hire Me button */
.menu .btn {
    background-color: #fd6e0a;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
}
