* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

/* header */
header {
    background-color: #FFF8F3;
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding: 40px 0;

}

/* navbar */
nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo h2 {
    font-size: 45px;
    font-weight: bold;
}
.color-red{
    color:red;
}

/* menu */
.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

}

.menu a {
    /* text-decoration none->skip underline  */
    text-decoration: none; 
    color: #000;
    font-size: 18px;
}

/* Hire Me button */
.menu .btn {
    background-color: #fd6e0a;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
}

#banner{

    /* border: 1px solid red; */
    margin: 47px 38px 0px 196px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}


#banner .banner-content h2{
     max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size:85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}

#banner .banner-content p{

    font-size:18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}

 .btn {
    background-color: #fd6e0a;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading{

    max-width: 827px;
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom:30px;
}
.section-heading p{
    font-size:18px;
    margin-bottom:30px;
    line-height: 30px;
    color:#757575;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle; 
}

#about{

    padding-top:130px;
}
#about .about-container{

    width:71%;
    max-width:1140px;
    margin:0 auto;
    text-align:center;
    background-color: #FFF8F3;
    padding:131px 156px;
}

#about .about-container .about-info{
    display:flex;
    justify-content: space-around;

}

.about-info .info-card p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color:#757575;
}

.about-info .info-card h4{
    font-size: 20px;
}